#!/usr/bin/php
<?php

include __DIR__ . '/vendor/autoload.php';

use Cron\Cron;

$command = "php " . __DIR__ . '/example.php';

$crontab = <<<EOF
*/1 * * * * $command
EOF;

$cron = new Cron( ($tasks = explode("\n", $crontab)));
$cron->start();