#!/usr/bin/php
<?php

define('FIRST_MIN', 0);
define('LAST_MIN', 59);
define('FIRST_HOUR', 0);
define('LAST_HOUR', 23);
define('FIRST_DAY', 1);
define('LAST_DAY', 31);
define('FIRST_MONTH', 1);
define('LAST_MONTH', 12);
define('FIRST_WEEK', 0);
define('LAST_WEEK', 6);



include __DIR__ . '/vendor/autoload.php';

use Symfony\Component\Process\Process;

$command = "php " . __DIR__ . '/example.php';

$crontab = <<<EOF
45 * * * * $command
EOF;

class Task
{
    private $taskString;

    /**
     *
     */
    private $min;

    private $hour;

    private $day;

    private $month;

    private $week;

    private $command;

    private $process;

    private $runTime;

    public function __construct(string $taskString)
    {
        $this->taskString = $taskString;
        $this->runTime = time();
        $this->initialize();
    }

    private function initialize()
    {
        //过滤多余的空格
        $rule = array_filter(explode(" ", $this->taskString), function($value) {
            return $value != "";
        });
        if (count($rule) < 7) {
            throw new ErrorException("'taskString' parse failed");
        }
        $this->min = $this->format($rule[0], 'min');
        $this->hour= $this->format($rule[1], 'hour');
        $this->day = $this->format($rule[2], 'day');
        $this->week= $this->format($rule[4], 'week');
        $this->month = $this->format($rule[3], 'month');
        $this->command = array_slice($rule, 5);
    }

    private function format($value, $field)
    {
        if ($value === '*') {
            return $value;
        }
        if (is_numeric($value)) {
            return [$this->checkFieldRule($value, $field)];
        }
        $steps = explode(',', $value);
        $scope = [];
        foreach ($steps as $step) {
            if (strpos($step, '-') !== false) {
                $range = explode('-', $step);
                $scope = array_merge($scope, range(
                    $this->checkFieldRule($range[0], $field),
                    $this->checkFieldRule($range[1], $field)
                ));
                continue;
            }
            if (strpos($step, '/') !== false) {
                $inter = explode('/', $step);
                $confirmInter = isset($inter[1]) ? $inter[1] : $inter[0];
                if ($confirmInter === '/') {
                    $confirmInter = 1; 
                }
                $scope = array_merge($scope, range(
                    constant('FIRST_' . strtoupper($field)),
                    constant('LAST_' . strtoupper($field)),
                    $confirmInter
                ));
                continue;
            }
            $scope[] = $step;
        }
        return $scope;
    }

    private function checkFieldRule($value, $field)
    {
        $first = constant('FIRST_' . strtoupper($field));
        $last  = constant('LAST_' . strtoupper($field));
        if ($value < $first) {
            return $first;
        }
        if ($value > $last) {
            return $last;
        }
        return (int) $value;
    }

    public function getTimeAttribute($attribute)
    {
        return $this->{$attribute} ?? null;
    }

    public function setRunTime($time)
    {
        $this->runTime = $time;
    }

    public function run()
    {
        if (null === $this->process) {
            $this->process = new Process(implode(" ", $this->command));
        }
        $this->process->start();
    }
}

class Job implements Iterator
{
    private $position = 0;
    private $jobs = [];

    public function addJob(Task $task)
    {
        $this->jobs[] = $task;
    }

    public function current()
    {
        return $this->jobs[$this->position];
    }

    public function key()
    {
        return $this->position;
    }

    public function next()
    {
        ++$this->position;
    }

    public function rewind()
    {
        $this->position = 0;
    }

    public function valid()
    {
        return isset($this->jobs[$this->position]);
    }
}

$jobs = new Job();
foreach (explode("\n", $crontab) as $task) {
    $jobs->addJob(new Task($task));
}
swoole_timer_tick(1000 * 60, function($timeId, $params = null) use ($jobs) {
    $current = time();
    list($week, $month, $day, $hour, $min) = explode('|', date('w|n|j|G|i', $current));
    foreach ($jobs as $task) {
        $ready = 0;
        //$diff = $task->getTimeAttribute('runTime') - $current;
        foreach (['min', 'hour', 'day', 'month', 'week'] as $key => $field) {
            $value = $task->getTimeAttribute($field);
            if ($value === '*') {
                $ready += 1;
                continue;
            }
            $ready += in_array($min, $value) ? 1: 0;
        }
        if (5 === $ready) {
            //执行任务
            $task->run();
            //更新运行时间
            $task->setRunTime($current);
        }
    }
    //swoole_timer_clear($timeId);
});